/* Scrollbar toàn cục cho Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
	width: 8px; /* mảnh gọn */
  }
  
  ::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #ffffff; /* nền sáng */
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #bfbfc1; /* màu xám nhạt */
	border-radius: 10px;
	border: 2px solid #ffffff; /* viền cùng màu nền để tạo cảm giác khoảng cách */
  }
  